{% load static %}
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5 text-center justify-content-center">

            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3" style="color: limegreen !important;">Contact</h4>
                {% for cont in contact %}
                <a href="{{ cont.address }}" class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> Наш Адрес </a>
                <br>
                <a href=" tel:{{ cont.phone_number }}" class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ cont.phone_number }}</a><br>
                <a href="mailto:{{ cont.email }}"class="mb-2"><i class="fa fa-envelope me-3"></i>{{cont.email}}</a><br>
                {% endfor %}
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3" style="color: limegreen !important;">Аккредитация</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="d-flex pt-2 justify-content-center">
                    {% for cont in contact %}
                    <a class="btn btn-outline-light btn-social" href="{{ cont.instagram }}" style="color: limegreen !important;"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{ cont.whatsapp }}" style="color: limegreen !important;"><i class="fab fa-whatsapp"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{ cont.telegram }}" style="color: limegreen !important;"><i class="fab fa-telegram"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   <div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a >Practicum</a>, All Right Reserved.
            Developed By <a href="https://t.me/DastanOskonbaev">Oskonbaev</a> & <a href="https://t.me/osmon03">Shatmanov</a>
        </div>
    </div>
    <hr class="my-4">
</div>
</div>