{% extends 'base.html' %}
{% load static %}
{% block title %}Практикум - Курсы{% endblock title %}
{% block content %}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">{{ stock_item_first.date }}</h5>
                            <h1 class="display-3 text-white animated slideInDown">{{ stock_item_first.title }}</h1>
                            <p class="fs-5 text-white mb-4 pb-2">{{ stock_item_first.description }}</p>
                            <a href="{% url 'news_list' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Больше новостей</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">{{ stock_item_second.date }}</h5>
                            <h1 class="display-3 text-white animated slideInDown">{{ stock_item_second.title }}</h1>
                            <p class="fs-5 text-white mb-4 pb-2">{{ stock_item_second.description }}</p>
                            <a href="{% url 'news_list' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Больше новостей</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">О Нас</h6>
                <h1 class="mb-4">Добро пожаловать в Practicum</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Courses Start -->
<section id="courses">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Курсы</h6>
                <h1 class="mb-5">ЗДЕСЬ ТОЖЕ МОЖНО ЧТО ТО ЕЩЕ НАПИСАТЬ</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for course in courses %}
                    {% if course.is_active %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="course-item bg-light">
                                <div class="position-relative overflow-hidden">
                                    <img class="img-fluid" src="{{ course.images.first.images.url }}" alt="">
                                    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                        <a href="{% url 'course_detail' course.pk %}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Подробнее</a>
                                        <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;" data-bs-toggle="modal" data-bs-target="#feedbackModal">Записаться</a>
                                    </div>
                                </div>
                                <div class="text-center p-4 pb-0">
                                    <h3 class="mb-0">{{ course.price }} сом</h3>
                                    <h5 class="mb-4">{{ course.name }}</h5>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>{{ course.teachers.first.full_name }}</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{ course.duration }} нед.</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{ course.number_of_students }} студентов</small>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Courses End -->
{% endblock content %}