{% extends 'base.html' %}
{% load static %}
{% block title %}Преподаватель курсов по бухгалтерии{% endblock title %}
{% block content %}
<style>/* CSS стили для всплывающего окна */
.image-wrapper {
    position: relative;
    overflow: hidden;
    width: 400px; /* Задайте желаемую ширину */
    height: 600px; /* Задайте желаемую высоту */
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 60%;
    max-height: 100%;
}

.modal-content img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.modal-overlay.active {
    display: flex;
}




</style>
<script>
    // JavaScript код
document.addEventListener('DOMContentLoaded', function() {
    var imageWrappers = document.querySelectorAll('.image-wrapper');
    var modalOverlays = document.querySelectorAll('.modal-overlay');

    imageWrappers.forEach(function(wrapper, index) {
        wrapper.addEventListener('click', function() {
            modalOverlays[index].classList.toggle('active');
        });
    });
});

</script>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{ teacher.photo.url }}"
                         alt="{{ teacher.full_name }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">О Преподавателе</h6>
                <h1 class="mb-4">{{ teacher.full_name}}</h1>
		<p class="mb-4"> {% for p in experience %}{{p}}<br>{% endfor %}</p>
		<p class="mb-4"> {% for p in achievements %}{{p}}<br>{% endfor %}</p>
                <div class="row gy-2 gx-4 mb-4">
                    {% for course in teacher.courses.all %}
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><a
                                href="{% url 'course_detail' course.pk %}">{{ course.name }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
<!-- HTML код -->
<div class="row justify-content-center">
    {% for image in teacher.images.all %}
    <div class="col-sm-4">
        <div class="image-wrapper">
            <img src="{{ image.images.url }}" class="img-fluid" alt="{{ image.teacher.name }}">
            <div class="modal-overlay">
                <div class="modal-content">
                    <img src="{{ image.images.url }}" class="modal-image" alt="{{ image.teacher.name }}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



</div>
</div>
</div>
<!-- About End -->

{% endblock content %}
