{% extends 'base.html' %}
{% load static %}
{% block title %}Teacher Detail{% endblock title %}
{% block content %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{ teacher.photo.url }}"
                         alt="{{ teacher.full_name }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">О Преподавателе</h6>
                <h1 class="mb-4">{{ teacher.full_name}}</h1>
                <p class="mb-4"> {{ teacher.experience }}</p>
                <p class="mb-4"> {{ teacher.achievements }}</p>
                <div class="row gy-2 gx-4 mb-4">
                    {% for course in teacher.courses.all %}
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><a
                                href="{% url 'course_detail' course.pk %}">{{ course.name }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for image in teacher.images.all %}
        <div class="col-sm-4 d-flex align-items-center justify-content-center">
            <img src="{{ image.images.url }}" class="img-fluid" alt="{{ image.teacher.name }}">
        </div>
        {% endfor %}
    </div>


</div>
</div>
</div>
<!-- About End -->

{% endblock content %}
